<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/guest/head}"><title>Hello</title></head>
<body>
<div th:replace="~{fragments/guest/navbar}"></div>

<!-- Offer Start -->
<div class="container-fluid bg-offer my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5 justify-content-start">
            <div class="col-lg-7">
                <div class="border-start border-5 border-dark ps-5 mb-5">
                    <h6 class="text-dark text-uppercase">Chào mừng bạn đến với HEducation</h6>
                    <h1 class="display-5 text-uppercase text-white mb-0">Nền tảng thi trực tuyến</h1>
                </div>
                <p style="text-align: justify" class="text-dark mb-4">Chào mừng bạn đến với trang làm bài thi trực tuyến! Tại HEducation, chúng tôi cung cấp một trải nghiệm mượt mà và tiện lợi cho việc làm bài thi từ xa. Hãy tham gia với chúng tôi ngay hôm nay và bắt đầu làm bài thi trực tuyến hiệu quả, tiện lợi và an toàn.</p>
                <a th:href="@{#}" class="btn btn-light py-md-3 px-md-5 me-3">THAM GIA THI</a>
                <a th:href="@{#}" class="btn btn-outline-light py-md-3 px-md-5">TÌM HIỂU THÊM</a>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->

<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h6 class="text-primary text-uppercase">ĐỀ THI CHO BẠN</h6>
            <h1 class="display-5 text-uppercase mb-0">ĐỀ THI THAM KHẢO</h1>
        </div>
        <div class="owl-carousel product-carousel">
            <a th:href="@{#}">
            <div class="pb-5">
                <div class="product-item position-relative bg-light d-flex flex-column text-center">
                    <img class="img-fluid mb-4" th:src="@{/assets/img/lich-su.jpg}" alt="">
                    <h6 class="text-uppercase">Câu Hỏi Lịch Sử 12</h6>
                    <h5 class="text-primary mb-0"><i class="bi bi-people"></i> 9999</h5>
                </div>
            </div>
            </a>
            <a th:href="@{#}">
            <div class="pb-5">
                <div class="product-item position-relative bg-light d-flex flex-column text-center">
                    <img class="img-fluid mb-4" th:src="@{/assets/img/gia-tich.png}" alt="">
                    <h6 class="text-uppercase">Câu Hỏi Giải Tích 12</h6>
                    <h5 class="text-primary mb-0"><i class="bi bi-people"></i> 9999</h5>
                </div>
            </div>
            </a>
            <a th:href="@{#}">
            <div class="pb-5">
                <div class="product-item position-relative bg-light d-flex flex-column text-center">
                    <img class="img-fluid mb-4" th:src="@{/assets/img/vat-ly.jpg}" alt="">
                    <h6 class="text-uppercase">Câu Hỏi Vật Lý 12</h6>
                    <h5 class="text-primary mb-0"><i class="bi bi-people"></i> 9999</h5>
                </div>
            </div>
            </a>
            <a th:href="@{#}">
            <div class="pb-5">
                <div class="product-item position-relative bg-light d-flex flex-column text-center">
                    <img class="img-fluid mb-4" th:src="@{/assets/img/dia-ly.jpg}" alt="">
                    <h6 class="text-uppercase">Câu Hỏi Địa Lý 12</h6>
                    <h5 class="text-primary mb-0"><i class="bi bi-people"></i> 9999</h5>
                </div>
            </div>
            </a>
            <a th:href="@{#}">
                <div class="pb-5">
                    <div class="product-item position-relative bg-light d-flex flex-column text-center">
                        <img class="img-fluid mb-4" th:src="@{/assets/img/toan.png}" alt="">
                        <h6 class="text-uppercase">Câu Hỏi Toán 12</h6>
                        <h5 class="text-primary mb-0"><i class="bi bi-people"></i> 9999</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Products End -->

<div th:replace="~{fragments/guest/footer}"></div>
<div th:replace="~{fragments/guest/scripts}"></div>
</body>
</html>