<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/guest/head"></head>
<head th:replace="fragments/guest/head"></head>
<body>
<div th:replace="fragments/guest/navbar"></div>

<!--Content Start-->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                    <h1 class="display-5 text-uppercase mb-0">ĐĂNG NHẬP</h1>
                </div>
                <form th:action="@{/dang-nhap}" method="post">
                    <div class="row g-3">
                        <div class="col-12">
                            <label>Tên đăng nhập</label>
                            <input value="" name="username" type="text" class="form-control bg-light border-0 px-4" style="height: 55px;" required>
                        </div>
                        <div class="col-12">
                            <label>Mật khẩu</label>
                            <input name="password" type="password" class="form-control bg-light border-0 px-4" style="height: 55px;" required>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">ĐĂNG NHẬP</button>
                            <a href="/quen-mat-khau" style="float: right; font-style: italic; text-decoration: none; margin-top: 10px">Quên mật khẩu</a>
                        </div>
                        <div class="col-12 text-center">
                            <label>Hoặc</label>
                        </div>
                        <div class="col-12">
                            <a href="/dang-ky" class="btn btn-outline-primary w-100 py-3">ĐĂNG KÝ</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>
<!--Content End-->

<div th:replace="fragments/guest/footer"></div>
<div th:replace="fragments/guest/scripts"></div>
</body>
</html>