<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/guest/head}"></head>
<head th:replace="~{fragments/guest/head}"></head>
<body>
<div th:replace="~{fragments/guest/navbar}"></div>
<!--Content Start-->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                    <h1 class="display-5 text-uppercase mb-0">ĐĂNG KÝ TÀI KHOẢN</h1>
                </div>
                <form th:action="@{/dang-ky}" method="post">
                    <div class="row g-3">

                        <div class="col-12" th:if="${INVALID_REQUEST_PARAMETER != null}">
                            <label class="err-msg" th:text="${INVALID_REQUEST_PARAMETER}"></label>
                        </div>

                        <div class="col-12">
                            <label>Bạn là</label>
                            <div class="form-check">
                                <input value="STUDN" class="form-check-input" type="radio" name="role" id="cb_STUDN"
                                       checked>
                                <label class="form-check-label" for="cb_STUDN">
                                    Học sinh
                                </label>
                            </div>
                            <div class="form-check">
                                <input value="TEACH" class="form-check-input" type="radio" name="role" id="cb_TEACH">
                                <label class="form-check-label" for="cb_TEACH">
                                    Giáo viên
                                </label>
                            </div>
                        </div>


                        <div class="col-12">
                            <label>Họ và tên</label>
                            <input th:value="${fullName}" name="fullName" type="text"
                                   class="form-control bg-light border-0 px-4" style="height: 55px;" required>
                        </div>
                        <div class="col-12" th:if="${INVALID_FULL_NAME_LENGTH != null}">
                            <label class="err-msg" th:text="${INVALID_FULL_NAME_LENGTH}"></label>
                        </div>

                        <div class="col-12">
                            <label>Tên đăng nhập</label>
                            <input th:value="${userName}" name="userName" type="text" class="form-control bg-light border-0 px-4"
                                   style="height: 55px;" required>
                        </div>
                        <div class="col-12" th:if="${INVALID_USERNAME_LENGTH != null}">
                            <label class="err-msg" th:text="${INVALID_USERNAME_LENGTH}"></label>
                        </div>
                        <div class="col-12" th:if="${INVALID_USERNAME_FORMAT != null}">
                            <label class="err-msg" th:text="${INVALID_USERNAME_FORMAT}"></label>
                        </div>
                        <div class="col-12" th:if="${EXISTED_USERNAME != null}">
                            <label class="err-msg" th:text="${EXISTED_USERNAME}"></label>
                        </div>

                        <div class="col-12">
                            <label>Email</label>
                            <input th:value="${email}" name="email" type="text" class="form-control bg-light border-0 px-4"
                                   style="height: 55px;" required>
                        </div>
                        <div class="col-12" th:if="${INVALID_EMAIL_LENGTH != null}">
                            <label class="err-msg" th:text="${INVALID_EMAIL_LENGTH}"></label>
                        </div>
                        <div class="col-12" th:if="${INVALID_EMAIL_FORMAT != null}">
                            <label class="err-msg" th:text="${INVALID_EMAIL_FORMAT}"></label>
                        </div>
                        <div class="col-12" th:if="${EXISTED_EMAIL != null}">
                            <label class="err-msg" th:text="${EXISTED_EMAIL}"></label>
                        </div>

                        <div class="col-12">
                            <label>Mật khẩu</label>
                            <input name="password" type="password" class="form-control bg-light border-0 px-4"
                                   style="height: 55px;" required>
                        </div>
                        <div class="col-12" th:if="${INVALID_PASSWORD_LENGTH != null}">
                            <label class="err-msg" th:text="${INVALID_PASSWORD_LENGTH}"></label>
                        </div>
                        <div class="col-12" th:if="${INVALID_PASSWORD_FORMAT != null}">
                            <label class="err-msg" th:text="${INVALID_PASSWORD_FORMAT}"></label>
                        </div>

                        <div class="col-12">
                            <label>Nhập lại mật khẩu</label>
                            <input name="rePassword" type="password" class="form-control bg-light border-0 px-4"
                                   style="height: 55px;" required>
                        </div>
                        <div class="col-12" th:if="${INVALID_RE_PASSWORD_LENGTH != null}">
                            <label class="err-msg" th:text="${INVALID_RE_PASSWORD_LENGTH}"></label>
                        </div>
                        <div class="col-12" th:if="${RE_PASSWORD_DOES_NOT_MATCHES != null}">
                            <label class="err-msg" th:text="${RE_PASSWORD_DOES_NOT_MATCHES}"></label>
                        </div>

                        <div class="col-12">
                            <input name="acceptTerm" class="form-check-input" type="checkbox" value="" id="ckb_term" required>
                            <label class="form-check-label" for="ckb_term">
                                Tôi chấp nhận <a th:href="@{/}" target="_blank">Điều khoản sử dụng</a> và <a th:href="@{/}" target="_blank">Quyền riêng tư & bảo mật</a>.
                            </label>
                        </div>
                        <div class="col-12" th:if="${NOT_ACCEPT_TERM != null}">
                            <label class="err-msg" th:text="${NOT_ACCEPT_TERM}"></label>
                        </div>

                        <div class="col-12">
                            <button id="btn_submit" class="btn btn-primary w-100 py-3" type="submit">ĐĂNG KÝ</button>
                            <a th:href="@{/quen-mat-khau}"
                               style="float: right; font-style: italic; text-decoration: none; margin-top: 10px">Quên mật khẩu</a>
                        </div>
                        <div class="col-12 text-center">
                            <label>Hoặc</label>
                        </div>
                        <div class="col-12">
                            <a href="/dang-nhap" class="btn btn-outline-primary w-100 py-3">ĐĂNG NHẬP</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>
<!--Content End-->

<div th:replace="~{fragments/guest/footer}"></div>
<div th:replace="~{fragments/guest/scripts}"></div>

</body>
</html>