<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/guest/head}"><title></title></head>
<body>
<div th:replace="~{fragments/guest/navbar}"></div>
<!--Content Start-->
<div class="container">
    <div class="row g-5 mt-5">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h1 class="display-5 text-uppercase mb-0">TẠO BÀI THI</h1>
            </div>
            <form th:action="@{tao-bai-thi}" method="POST">
                <div class="row g-3">

                    <div class="col-12">
                        <p>Những thông tin có đánh dấu <span class="span-warning">*</span> là bắt buộc.</p>
                    </div>

                    <div class="col-12">
                        <label class="text-bold">Chế độ công khai<span class="span-warning-italic">*</span></label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="examPublication" id="btn_public"
                                   value="1">
                            <label class="form-check-label" for="btn_public">
                                Công khai - mọi người đều có thể làm bài
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="examPublication" id="btn_not-public"
                                   value="2" checked>
                            <label class="form-check-label" for="btn_not-public">
                                Không công khai - chỉ dành cho lớp học của bạn
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="examPublication" id="btn_private"
                                   value="3">
                            <label class="form-check-label" for="btn_private">
                                Riêng tư - chỉ mình bạn
                            </label>
                        </div>
                        <div class="col-12" th:if="${INVALID_EXAM_PUBLICATION != null}">
                            <label class="err-msg" th:text="${INVALID_EXAM_PUBLICATION}"></label>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="inp_exam-name" class="text-bold">Tên bài thi<span class="span-warning-italic">*</span></label>
                        <input th:value="${examName}" id="inp_exam-name" name="examName" type="text"
                               class="form-control bg-light border-0 px-4 hexam-input-tag" placeholder="Nhập tên bài thi" required>
                        <div class="col-12" th:if="${INVALID_EXAM_NAME != null}">
                            <label class="err-msg" th:text="${INVALID_EXAM_NAME}"></label>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="inp_exam-start-date" class="text-bold">Ngày bắt đầu<span class="span-warning-italic">*</span></label>
                        <input th:value="${examStartDate}" id="inp_exam-start-date" name="examStartDate" type="text" placeholder="dd-mm-yyyy hh:mm"
                               class="form-control bg-light border-0 px-4 hexam-input-tag" required>
                        <div class="col-12" th:if="${INVALID_EXAM_DATE != null}">
                            <label class="err-msg" th:text="${INVALID_EXAM_DATE}"></label>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="inp_exam-end-date" class="text-bold">Ngày kết thúc</label>
                        <input th:value="${examEndDate}" id="inp_exam-end-date" name="examEndDate" type="text" placeholder="dd-mm-yyyy hh:mm"
                               class="form-control bg-light border-0 px-4 hexam-input-tag">
                        <small>*Bỏ trống nếu không muốn đặt ngày kết thúc cho bài thi</small>
                        <div class="col-12" th:if="${INVALID_EXAM_END_DATE != null}">
                            <label class="err-msg" th:text="${INVALID_EXAM_END_DATE}"></label>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="inp_exam-duration" class="text-bold">Thời gian làm bài<span class="span-warning-italic">*</span></label>
                        <input th:value="${examDuration}" id="inp_exam-duration" name="examDuration" type="text"
                               placeholder="Nhập số phút" class="form-control bg-light border-0 px-4 hexam-input-tag" required>
                        <div class="col-12" th:if="${INVALID_EXAM_DURATION != null}">
                            <label class="err-msg" th:text="${INVALID_EXAM_DURATION}"></label>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="inp_exam-attempts" class="text-bold">Số lần làm bài</label>
                        <input th:value="${examAttempts}" id="inp_exam-attempts" name="examAttempts" type="text"
                               placeholder="Nhập số lần làm bài với mỗi học sinh" class="form-control bg-light border-0 hexam-input-tag">
                        <small>*Bỏ trống nếu không muốn giới hạn số lần làm bài thi.</small>
                        <div class="col-12" th:if="${INVALID_EXAM_ATTEMPTS != null}">
                            <label class="err-msg" th:text="${INVALID_EXAM_ATTEMPTS}"></label>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="inp_exam-pass-score" class="text-bold">Điểm đạt<span class="span-warning-italic">*</span></label>
                        <input th:value="${examPassScore}" id="inp_exam-pass-score" name="examPassScore" type="text"
                               placeholder="Điểm được tính theo hệ số 10." class="form-control bg-light border-0 hexam-input-tag" required>
                        <div class="col-12" th:if="${INVALID_EXAM_PASS_SCORE != null}">
                            <label class="err-msg" th:text="${INVALID_EXAM_PASS_SCORE}"></label>
                        </div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">TẠO BÀI THI</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<input type="hidden" id="toastMessage" th:value="${toastMessage}">

<script>
    flatpickr("#inp_exam-end-date", {
        enableTime: true,
        dateFormat: "d-m-Y H:i",
        time_24hr: true
    });

</script>

<script>
    flatpickr("#inp_exam-start-date", {
        enableTime: true,
        dateFormat: "d-m-Y H:i",
        time_24hr: true
    });
</script>

<div th:replace="~{fragments/guest/toast}"></div>
<!--Content End-->
<div th:replace="~{fragments/guest/footer}"></div>

<div th:replace="~{fragments/guest/scripts}"></div>
</body>
</html>