<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">12345678</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3308/heducation</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    	<property name="hibernate.hbm2ddl.auto">create-drop</property>
    	<property name="show_sql">true</property>
    	
    	<!-- Mapping -->
    	<mapping class="com.hieptv.hexam.models.Answer"/>
    	<mapping class="com.hieptv.hexam.models.Classes"/>
    	<mapping class="com.hieptv.hexam.models.ClassExam"/>
    	<mapping class="com.hieptv.hexam.models.ClassTeacher"/>
    	<mapping class="com.hieptv.hexam.models.ClassEnrollment"/>
    	<mapping class="com.hieptv.hexam.models.Exam"/>
    	<mapping class="com.hieptv.hexam.models.ExamEnrollment"/>
    	<mapping class="com.hieptv.hexam.models.ExamQuestion"/>
    	<mapping class="com.hieptv.hexam.models.ExamResult"/>
    	<mapping class="com.hieptv.hexam.models.ExamSettings"/>
    	<mapping class="com.hieptv.hexam.models.Person"/>
    	<mapping class="com.hieptv.hexam.models.StudentAnswer"/>
    	<mapping class="com.hieptv.hexam.models.UserPassword"/>
    </session-factory>
</hibernate-configuration>
