<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/guest/head}"><title></title></head>
<body>
<div th:replace="~{fragments/guest/navbar}"></div>

<!-- Offer Start -->
<div class="container-fluid bg-offer my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5 justify-content-start">
            <div class="col-lg-7">
                <div class="border-start border-5 border-dark ps-5 mb-5">
                    <h6 class="text-dark text-uppercase">Chào mừng bạn đến với HExam</h6>
                    <h1 class="display-5 text-uppercase text-white mb-0">Nền tảng thi trực tuyến</h1>
                </div>
                <p style="text-align: justify" class="text-dark mb-4">Chào mừng bạn đến với trang làm bài thi trực tuyến! Tại HExam, chúng tôi cung cấp một trải nghiệm mượt mà và tiện lợi cho việc làm bài thi từ xa. Hãy tham gia với chúng tôi ngay hôm nay và bắt đầu làm bài thi trực tuyến hiệu quả, tiện lợi và an toàn.</p>
                <a th:href="@{#}" class="btn btn-light py-md-3 px-md-5 me-3">THAM GIA THI</a>
                <a th:href="@{#}" class="btn btn-outline-light py-md-3 px-md-5">TÌM HIỂU THÊM</a>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->

<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
            <h6 class="text-primary text-uppercase">ĐỀ THI CHO BẠN</h6>
            <h1 class="display-5 text-uppercase mb-0">ĐỀ THI THAM KHẢO</h1>
        </div>
        <div th:if="${publicExamsNow.isEmpty()}">
            <div class="text-center">
                <img class="home-exam-img" th:src="@{/assets/guest/img/mpty.png}" alt="">
                <h3 class="pb-2">THƯ VIỆN ĐỀ THI THAM KHẢO ĐANG ĐƯỢC CẬP NHẬT<span class="text-container" id="textContainer"></span></h3>
            </div>
        </div>
        <div class="owl-carousel product-carousel">
            <div th:each="exam : ${publicExamsNow}">
                <a th:href="@{/bai-thi/}">
                    <div class="pb-5">
                        <div class="product-item position-relative bg-light d-flex flex-column text-center">
                            <img class="img-fluid mb-4 home-exam-img" th:src="${exam.getImageLink()}" alt="">
                            <h6 class="text-uppercase nav-link" th:text="${exam.getExamName()}"></h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    const textContainer = document.getElementById('textContainer');
    const dots = [' ', '. ', '.. ', '... '];
    let index = 0;

    function animateText() {
        textContainer.textContent = dots[index % 4];
        index++;
    }

    setInterval(animateText, 500); // Thay đổi số 500 để điều chỉnh tốc độ hiệu ứng
</script>
<!-- Products End -->

<div th:replace="~{fragments/guest/footer}"></div>
<div th:replace="~{fragments/guest/scripts}"></div>
</body>
</html>