<div th:fragments="scripts">

    <!-- Back to Top -->
    <a th:href="@{#}" class="btn btn-primary py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/guest/lib/easing/easing.min.js}"></script>
    <script th:src="@{/assets/guest/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/assets/guest/lib/owlcarousel/owl.carousel.min.js}"></script>

    <!-- Template Javascript -->
    <script th:src="@{/assets/guest/js/main.js}"></script>
</div>