<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/guest/head}"><title></title></head>
<body>
<div th:replace="~{fragments/guest/navbar}"></div>
<!--Content Start-->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-2 bg-light border-right">
            <div th:replace="fragments/guest/sidebar"></div>
        </div>

        <div class="col-md-10 mt-3">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <img th:src="@{/assets/guest/img/teacher.png}" alt="">
                </div>
                <div class="d-flex justify-content-center">
                    <h1 th:text="'Chào ' + ${person.getFullName()} + ', hôm nay bạn thế nào?'"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Content End-->
<div th:replace="~{fragments/guest/footer}"></div>

<div th:replace="~{fragments/guest/scripts}"></div>
</body>
</html>