<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/guest/head}"><title></title></head>
<body>
<div th:replace="~{fragments/guest/navbar}"></div>
<!--Content Start-->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="container" th:if="${!classList.isEmpty()}">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary mb-3" data-toggle="modal"
                                data-target="#joinClassModal">
                            Tham gia lớp học
                        </button>
                    </div>
                </div>
                <div class="col-md-12 content">
                    <div class="row gy-3">
                        <div class="col-md-3" th:each="class : ${classList}">
                            <a th:href="@{${'/lop-hoc/' + class.getClassUrl()}}">
                                <div class="pb-5">
                                    <div class="product-item position-relative bg-light d-flex flex-column">
                                        <img class="img-fluid mb-4" th:src="@{/assets/guest/img/classroom.jpg}"
                                             alt="Class Image">
                                        <h6 class="text-uppercase" th:text="${class.getClassName()}"></h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${classList.isEmpty()}">
                <div class="text-center">
                    <img th:src="@{/assets/guest/img/mpty.png}" alt="">
                    <h3 class="pb-2">BẠN CHƯA CÓ LỚP HỌC NÀO</h3>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#joinClassModal">
                        Tham gia lớp học
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade mt-5" id="joinClassModal" tabindex="-1" role="dialog"
                 aria-labelledby="joinClassModal"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="joinClassModalLabel">THAM GIA LỚP HỌC</h5>
                        </div>
                        <div class="modal-body">
                            <!-- Form inside the modal -->
                            <form id="joinClassForm" th:action="@{tham-gia-lop-hoc}" method="POST">
                                <div class="form-group">
                                    <label for="inp_joinCode">Mã tham gia</label>
                                    <input type="text" class="form-control" id="inp_joinCode" name="joinCode"
                                           aria-describedby="emailHelp" placeholder="Nhập mã tham gia" required>
                                    <div id="joinCodeError" class="err-msg"></div>
                                </div>
                                <a id="btn_joinClassSubmit" class="btn btn-primary mt-2">Xác nhận</a>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="toastMessage" th:value="${toastMessage}">
            <div th:replace="~{fragments/guest/toast}"></div>
        </div>
    </div>
</div>
<!--Content End-->
<div th:replace="~{fragments/guest/footer}"></div>

<script>
    document.getElementById("btn_joinClassSubmit").addEventListener("click", function () {
        // Reset previous error messages
        document.querySelectorAll('.err-msg').forEach(function (el) {
            el.style.display = 'none';
        });

        let className = document.getElementById("inp_joinCode").value;

        let isContinueSubmit = true;

        if (className.trim().length < 1) {
            document.getElementById("joinCodeError").innerText = "Mã tham gia không được bỏ trống!";
            document.getElementById("joinCodeError").style.display = 'block';
            isContinueSubmit = false;
        }

        if (isContinueSubmit) {
            document.getElementById("joinClassForm").submit();
        }

    });
</script>

<div th:replace="~{fragments/guest/scripts}"></div>
</body>
</html>