<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/guest/head}"><title></title></head>
<body>
<div th:replace="~{fragments/guest/navbar}"></div>
<!--Content Start-->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-3 mb-3">
                        <button style="float: right" type="button" class="btn btn-primary"><i class="bi bi-gear"></i> Cài Đặt</button>
                    </div>
                </div>
                <div class="row gy-3">
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <img class="card-img-top class-banner" th:src="@{/assets/guest/img/classroom.jpg}" alt="Class image">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${classInf.getClassName()}"></h5>
                                <p th:if="${person.getUserRole().getRoleCode() == 'TEACH'}" class="card-text">Mã tham gia: <a href="#" id="class-join-code"></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gy-3">
                    <div class="col-md-3" th:each="class : ${classList}">
                        <a th:href="@{${'/lop-hoc/' + class.getJoinCode()}}">
                            <div class="pb-5">
                                <div class="product-item position-relative bg-light d-flex flex-column">
                                    <img class="img-fluid mb-4" th:src="@{/assets/guest/img/classroom.jpg}"
                                         alt="Class Image">
                                    <h6 class="text-uppercase" th:text="${class.getClassName()}"></h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <input type="hidden" id="toastMessage" th:value="${toastMessage}">
            <div th:replace="~{fragments/guest/toast}"></div>
        </div>
    </div>
</div>
<!--Content End-->
<div th:replace="~{fragments/guest/footer}"></div>
<div th:replace="~{fragments/guest/scripts}"></div>

<input id="hidden-class-join-code" type="hidden" th:value="${classInf.getJoinCode()}">
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById("class-join-code").innerText = "Bấm để xem";
    });
</script>

<script>
    document.getElementById("class-join-code").addEventListener("click", function () {
        var currentText = document.getElementById("class-join-code").text;
        if(currentText === 'Bấm để xem') {
            document.getElementById("class-join-code").innerText = document.getElementById("hidden-class-join-code").value;
        } else {
            document.getElementById("class-join-code").innerText = "Bấm để xem";
        }
    });
</script>
</body>
</html>