<div th:fragment="slidebar">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/admin}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">HExam Admin</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trang chủ</span></a>
        </li>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            QUẢN LÝ NGƯỜI DÙNG
        </div>

        <li class="nav-item">
            <a class="nav-link" th:href="@{quan-ly-giao-vien}">
                <i class="fas fa-fw fa-cog"></i>
                <span>Giáo viên</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{quan-ly-hoc-sinh}">
                <i class="fas fa-fw fa-cog"></i>
                <span>Học sinh</span>
            </a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            QUẢN LÝ LỚP HỌC
        </div>

        <li class="nav-item">
            <a class="nav-link" th:href="@{quan-ly-lop-hoc}">
                <i class="fas fa-fw fa-cog"></i>
                <span>Lớp học</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{quan-ly-bai-thi}">
                <i class="fas fa-fw fa-cog"></i>
                <span>Bài thi</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- End of Sidebar -->
</div>